<a href="https://colab.research.google.com/github/wdv1/D012513A-Specialised-Bio-informatics-Machine-Learning/blob/main/defversieexamen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practical Python Specialized Bioinformatics

#### 24/01/2023

For this exam you are asked to complete the Python code between the 

```
#start code here

#end code here
```

comments. 

A direct question needs to be answered in the text field just below the question.

Don't forget to periodically save your work to your GitHub repository. 

Please write your name and studentnumber in the text box below:

### Name: De Viaene Wannes

### Number: 01902527

### Total points:    / 25

In [2]:
import warnings;
warnings.filterwarnings('ignore');

import pandas as pd

**question 1 (2pts)**

Create a Pandas DataFrame called `patients` that looks like this:

|           | gene_1 | gene_2 |
|-----------|--------|--------|
| patient_1 | 0.54   | 0.32   |
| patient_2 | 0.66   | 0.10   |

In [3]:
#start code here

patients = pd.DataFrame({'gene_1': [0.54, 0.66], 
              'gene_2': [0.32, 0.10]},
             index=['patient_1', 'patient_2'])

#end code here

patients

           gene_1  gene_2
patient_1    0.54    0.32
patient_2    0.66    0.10

**question 2 (1pt)**

Use the Pandas DataFrame `.head()` function to print the first row of the `patients` DataFrame.

In [4]:
#start code here
patients.head(1)
#end code here

           gene_1  gene_2
patient_1    0.54    0.32

The following code loads the dataset we will use for this exam.

In [5]:
from sklearn.datasets import load_breast_cancer
dataset = load_breast_cancer(as_frame=True).frame
dataset.rename(columns = {'target':'label'}, inplace = True)

**question 3 (1pt)**
    
Print the number of rows and columns in the `dataset` DataFrame.

In [7]:
#start code here
a = len(dataset)
b = len(dataset.columns)
print("Number of rows = {}".format(a))
print("Number of columns = {}".format(b))

#end code here

Number of rows = 569
Number of columns = 31

**question 4 (1pt)**

Print the column `label` from the `dataset` DataFrame. Don't use `.loc` or `.iloc`.

In [8]:
#start code here
dataset['label']
#end code here

0      0
1      0
2      0
3      0
4      0
      ..
564    0
565    0
566    0
567    0
568    1
Name: label, Length: 569, dtype: int64

**question 5 (1pt)**

Print the column `label` from the `dataset` DataFrame using `.loc`.

In [9]:
#start code here
dataset.loc[:, 'label']
#end code here

0      0
1      0
2      0
3      0
4      0
      ..
564    0
565    0
566    0
567    0
568    1
Name: label, Length: 569, dtype: int64

**question 6 (1pt)**

Print the column `label` from the `dataset` DataFrame using `.iloc`.

In [11]:
#start code here
dataset.iloc[:, -1]
#end code here

0      0
1      0
2      0
3      0
4      0
      ..
564    0
565    0
566    0
567    0
568    1
Name: label, Length: 569, dtype: int64

**question 7 (1pt)**

Print the label of the third row in the `dataset` DataFrame.

In [19]:
dataset.head()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,label
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,0
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,0
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,0
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,0
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,0

In [17]:
#start code here

dataset.iloc[2, -1]
#end code here

0

**question 8 (1pt)**

Print the subset of the `dataset` DataFrame that only contains the columns in the Python list `cols_to_print`. You have to use the `cols_to_print` list in the code that creates the subset.

In [23]:
for col in dataset.columns:
    print(col)

mean radius
mean texture
mean perimeter
mean area
mean smoothness
mean compactness
mean concavity
mean concave points
mean symmetry
mean fractal dimension
radius error
texture error
perimeter error
area error
smoothness error
compactness error
concavity error
concave points error
symmetry error
fractal dimension error
worst radius
worst texture
worst perimeter
worst area
worst smoothness
worst compactness
worst concavity
worst concave points
worst symmetry
worst fractal dimension
label

In [18]:
cols_to_print = ['mean area','mean concavity','mean symmetry','label']

#start code here
dataset.loc[:, ['mean area','mean concavity','mean symmetry','label']]

#end code here

     mean area  mean concavity  mean symmetry  label
0       1001.0         0.30010         0.2419      0
1       1326.0         0.08690         0.1812      0
2       1203.0         0.19740         0.2069      0
3        386.1         0.24140         0.2597      0
4       1297.0         0.19800         0.1809      0
..         ...             ...            ...    ...
564     1479.0         0.24390         0.1726      0
565     1261.0         0.14400         0.1752      0
566      858.1         0.09251         0.1590      0
567     1265.0         0.35140         0.2397      0
568      181.0         0.00000         0.1587      1

[569 rows x 4 columns]

**question 9 (2pts)**

Print all the rows in the `dataset` DataFrame with `mean symmetry` > 0.2 and `label` equal to 1.

In [ ]:
#start code here
dataset.rename(columns = {'mean symmetry': 'mean_symmetry'}, inplace = True)
dataset.loc[(dataset.mean_symmetry >= 0.2) & (dataset.label == 1) ]

#end code here

**question 10 (2pts)**

Print the median of the `area error` column in `dataset` for all rows with `label` equal to 1.

In [38]:
#start code here
dataset.rename(columns = {'area error': 'area_error'}, inplace = True)
A = dataset.loc[(dataset.label == 1)]
A.area_error.median()
#end code here

19.63

**question 11 (3pts)**

Create a Pandes Series called `mean_area_ordinal` that, for each row in `dataset`, contains the value `low` if the value for `mean area` is within [0,420[, the value `middle` if the value for `mean area` is within [420,550[ and the value `high` if the value for `mean area` is larger of equal to 550. Use the `.apply()` function.

In [59]:
#start code here
dataset.rename(columns = {'mean area': 'mean_area'}, inplace = True)
def functie(row):
    if row.mean_area < 420:
      a = "low"
    elif (row.mean_area >  0.420) & (row.mean_area < 550):
      a= "middle"
    elif row.mean_area >= 550  :
       a= "high"
    return a

mean_area_ordinal = dataset.apply(functie, axis = "columns")
#end code here

print(mean_area_ordinal)

0      high
1      high
2      high
3       low
4      high
       ...
564    high
565    high
566    high
567    high
568     low
Length: 569, dtype: object

**question 12 (1pt)**

Write one line of code that shows how many datapoints in `mean_area_ordinal` have value `high`, how many have value `middle` and how many have value `low`.

In [60]:
#start code here
mean_area_ordinal.value_counts()
#end code here

high      285
low       142
middle    142
dtype: int64

**question 13 (2pts)**

To prepare for Scikit-learn model fitting we need to keep the feature vectors and the label separate. Create a variable `X` that contains all the 30 features in `dataset` and a variable `y` that contains the label.

In [51]:
#start code here

X = dataset.iloc[:,:30]
y = dataset['label']

#start code here

print(X.shape)
print(y.shape)

(569, 30)
(569,)

**question 14 (1pt)**

Use the Scikit-learn `StandardScaler` to standardize the feature values in `X` (assign the result to `X_norm`).

In [52]:
from sklearn.preprocessing import StandardScaler

#start code here

X_norm = StandardScaler().fit_transform(X)

#start code here

print(X_norm)

[[ 1.09706398 -2.07333501  1.26993369 ...  2.29607613  2.75062224
   1.93701461]
 [ 1.82982061 -0.35363241  1.68595471 ...  1.0870843  -0.24388967
   0.28118999]
 [ 1.57988811  0.45618695  1.56650313 ...  1.95500035  1.152255
   0.20139121]
 ...
 [ 0.70228425  2.0455738   0.67267578 ...  0.41406869 -1.10454895
  -0.31840916]
 [ 1.83834103  2.33645719  1.98252415 ...  2.28998549  1.91908301
   2.21963528]
 [-1.80840125  1.22179204 -1.81438851 ... -1.74506282 -0.04813821
  -0.75120669]]

**question 15 (1pt)**

What does the following code do? What is in `X_train`, `X_test`, `y_train` and `y_test`?

In [54]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size=0.2, random_state=0)

The code devides our features, that are stored in X_norm in a test and a training group (called X_train and X_test). Next to this it devides our labels, that are stored in y in a test and a training group (called y_train and y_test).By defining the test_size at 0.2, 20% of our features and labels will be used to create the test sets and the other 80% will be used to create the training sets.

**question 16 (2pts)**

Use the training set to compute the opimal values for the modelparameters in a Logistic Regression model (with hyperparameter `random_state` set to 1, all other hyperparameter values should be set to their Scikit-learn default values).

In [55]:
from sklearn.linear_model import LogisticRegression

#start code here
lr_model = LogisticRegression(random_state=1)
lr_model.fit(X_train,y_train)
#end code here

LogisticRegression(random_state=1)

**question 17 (2pts)**

Given the fitted model, compute predictions on the test set and compute the Area Under the Receiver Operating Characteristic curve (AUC) for these predictions.

In [56]:
from sklearn.metrics import roc_auc_score

#start code here

predictions = lr_model.predict(X_test)
score_auc = score_auc = roc_auc_score(y_test,predictions)

#end code here

print(score_auc)

0.9637980311209908